<div class="footer-wrapper" data-scroll data-scroll-speed="5">
        <div class="footer-submit-header">
            <h2>Submit your response...</h2>
        </div>
        <div class="footer-submit-content">
            <p>
                Thank you so much for participating in this folktale project! 
                This project seeks to catalogue the ways we tell folktales and urban legends, today, 
                and that means your voice helps shape the narrative. 
                
                By clicking submit, you agree to participate in our project. 
                This to do this with it; 
                by submitting your story you are giving me permission to use it in this way, 
                possibly quote your text in my own scholarly writing or critical essays.
            </p>
        </div>

        <div class="footer-submit-button">
            {% include my-user-engagement-submit-button.html %}
        </div>
</div>