<div data-scroll-container class="main-wrapper">
   <section class="hero-section" data-scroll-section>
      <h1>Hero section</h1>
   </section>
   
   <!-- <form action={{ site.form_action_link }} method="post"> -->

      <section class="left-section" data-scroll-section>
         <h1>LEFT section</h1>  
      </section>
      <section class="middle-section">
         <h1>Middle section</h1>
         <!-- <h1>Originals</h1>
         {% for tale in site.original-tales %}
         <h2>{{ tale.title }} - {{ tale.type }}</h2>
         <p>{{ tale.content | markdownify }}</p>
         {% endfor %}

         <h1>Remix</h1>
         {% for tale in site.remixed-tales %}
         <h2>{{ tale.title }} - {{ tale.type }}</h2>
         <p>{{ tale.content | markdownify }}</p>
         {% endfor %} -->

      </section>
      <section class="right-section" data-scroll-section>
         <h1>RIght section</h1>
      </section>
   <!-- </form> -->


   <section class="footer-section">Footer Section</section>
</div>