<div class="user__interaction">
    <div class="interaction__box_holder">
        <div class="user__engagement_box_other_input">
            <p>What color was the cape?</p>
            {% include my-user-engagement-cape-question.html %}
        </div>
    </div>
</div>

<div class="user__interaction_2">
    <div class="interaction__box_holder">
        <div class="question__box">
            <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/little-blue-riding-hood-kelly-mills.jpg"
                alt="">
        </div>
        <div class="user__engagement_box">
            <p>What did you feel was the moral of this story?</p>
            {% include my-user-engagement-story-moral.html %}
            <!-- <span class="control_left modify_quote_circle"><i class="fa fa-quote-left" aria-hidden="true"></i></span> -->
        </div>
    </div>
</div>