<!-- <div class="testimonials">
    <div class="preview_holder">
        <div class="testimonials_preview">
            <img src="https://images.unsplash.com/photo-1532186651327-6ac23687d189?ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="">
        </div>
        <div class="quotes">
            <span class="control_left modify_quote_circle"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
            <p class="txt_md_black">I spend every minute with happy feelings i here, unforgettable place</p>
        </div>
    </div>
</div> -->

<div class="user__interaction">
    <div class="interaction__box_holder">
        <div class="user__engagement_box_other_input">
            <p>What color was the cape?</p>
            {% include my-user-engagement-cape-question.html %}
        </div>
    </div>
</div>

<div class="user__interaction_2">
    <div class="interaction__box_holder">
        <div class="question__box">
            <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/little-blue-riding-hood-kelly-mills.jpg" alt="">
        </div>
        <div class="user__engagement_box">
            <p>What did you feel was the moral of this story?</p>
            {% include my-user-engagement-story-moral.html %}
            <!-- <span class="control_left modify_quote_circle"><i class="fa fa-quote-left" aria-hidden="true"></i></span> -->
        </div>
    </div>
</div>

<!-- <div class="user__interaction">
    <div class="interaction__box_holder">
        <div class="response_box">
            <img src="https://images.unsplash.com/photo-1532186651327-6ac23687d189?ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="">
        </div>
        <div class="user__engagement_box">
            <span class="control_left modify_quote_circle"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
            <p class="txt_md_black">I spend every minute with happy feelings i here, unforgettable place</p>
        </div>
    </div>
</div> -->


