<div data-scroll-container>   
    <div class="main" >
        <div class="section-0" data-scroll data-scroll-speed="2">
            <p 
                data-scroll 
                data-scroll-direction="horizontal" 
                data-scroll-speed="-2"
            >
                Travelling leaves you speechless
            </p>
            <p 
                data-scroll 
                data-scroll-direction="horizontal" 
                data-scroll-speed="2"
            >
                Then it turns you to a storyteller
            </p>
            
            <cite>— Ibn Battuta</cite>
        </div>
    
        <div class="section-1">
            <div class="image-mask"></div>
        </div>
        
        <div class="section-2">
          <div id="pinSection" class="pinned-quote">
            <blockquote data-scroll data-scroll-sticky data-scroll-target="#pinSection">
              “To me, photography is an art of observation. 
              It’s about finding something interesting in 
              an ordinary place… I’ve found it has little 
              to do with the things you see and everything 
              to do with the way you see them.”
      
              <cite>
                — Elliott Erwitt
              </cite>
            </blockquote>
          </div>
          
          <div class="images-container">
              <img src="https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80" alt="">
              <img src="https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80" alt="">
              <img src="https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80" alt="">
              <img src="https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80" alt="">
              <img src="https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80" alt="">
              <img src="https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80" alt="">
              <img src="https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80" alt="">
              <img src="https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80" alt="">
          </div>
        </div>
        
        <div class="section-3">
          <div class="image-wrapper">
            <img  src="https://images.unsplash.com/photo-1616531770336-4d9b69d0f056?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80" alt="">
          </div>
          <div class="copy">
            <blockquote data-scroll-speed="3" data-scroll>
              If a picture is worth a thousand words,
              words must be priceless
            </blockquote>
          </div>
        </div>
    </div>
  </div>
  
