<div style="margin-top:8em;" data-scroll-section>
    <div data-scroll-container class="story-model-1">

        <div>
               <div class="sketch-grid">
                 <div id="sketch-container" class="sketchlayer1"></div>
                 <!-- <div class="sketchlayer2"><h1>When All things could speak</h1></div> -->
               </div>
            <div class="story-text" data-scroll-direction="horizontal" data-scroll data-scroll-speed="2">
                <!-- <h1> {{ site.original-tales.first.title }} </h1> -->
                <h1>
                    <style>h1 {color: rgb(10,125,175);}</style>
                    House of the Blue Lights
                </h1>
            </div>

            {{ site.original-tales.first.content }}

            <div class="story-text" data-scroll-direction="horizontal" data-scroll data-scroll-speed="-2">
                <cite>— {{ site.original-tales.first.author }}</cite>
            </div>

        </div>

    </div>
</div>
