<div class="other_user_inputs">
    <div class="voice_input">
        <section class="icon-section">
            <span style="font-size: 3em; color: Tomato;">
                <i class="glyphicon glyphicon-cloud"></i>
            </span>
        </section>
        <section class="label-section">
            <button class="big-button">Tell..</button>      
        </section>    
    </div>


    <div class="draw_input">
        <section class="icon-section">
            <i class="fas fa-paint-brush"></i>
        </section>
        <section class="label-section">
            <button class="big-button">Draw...</button>      
        </section>    
    </div>
</div>