<div style="margin-top:8em;" data-scroll-section>
    <div data-scroll-container class="story-model-1">

        <div class="story-model-1-text" data-scroll data-scroll-speed="2">
            <p data-scroll data-scroll-direction="horizontal" data-scroll-speed="-2">
                Sometime in 2021, Sarah wanted to take you on a journey.
            </p>
            <p data-scroll data-scroll-direction="horizontal" data-scroll-speed="2">
                A journey where she tries to uncover the darkness underneath all the magical fantasies presented
                to us in our local tales.
            </p>
            <p data-scroll data-scroll-direction="horizontal" data-scroll-speed="2">
                You might have heard of the blue beard....
            </p>

            <cite>— Sarah Martin</cite>
        </div>

        <div class="story-model-1-image">
            <div class="image-mask"></div>
        </div>
    </div>
</div>