<!-- <div class="user__interaction">
    <div class="interaction__box_holder">
        <div class="response__box">
            <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/little-blue-riding-hood-kelly-mills.jpg" alt="">
        </div>
        <div class="user__engagement_box">
            <p class="txt_md_black">OMG! All my life I thought she was wearing Red :O</p>
            <!-- <span class="control_left modify_quote_circle"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
             -->
<!-- </div>
    </div>
</div> --> -->

<div class="user__interaction">
    <div class="interaction__box_holder">
        <div class="user__engagement_box_other_input">
            <p>What happens next?</p>
            {% include my-user-engagement-what-happens-question.html %}
        </div>
    </div>
</div>

<div class="user__interaction_2">
    <div class="interaction__box_holder">
        <div class="user__engagement_box_other_input">
            <p>Would you like another way of telling us the story? We're good listeners—just hit record and talk into
                the mic! Want to sketch it out? Here's a blank piece of paper.</p>
            {% include my-other-user-inputs.html %}
        </div>
    </div>
</div>