<div class="user__interaction">
    <div class="interaction__box_holder">
        <div class="user__engagement_box_other_input">
            <p>Did any of these animals appear in the story you heard?</p>
            {% include my-user-engagement-what-happens-question.html %}
        </div>
    </div>
</div>

<div class="user__interaction_2">
    <div class="interaction__box_holder">
        <div class="user__engagement_box_other_input">
            <p>Would you like another way of telling us the story? We're good listeners—just hit record and talk into
                the mic! Want to sketch it out? Here's a blank piece of paper.</p>
            <!-- {% include my-other-user-inputs.html %} -->
        </div>
    </div>
</div>
