<div>
    <input type="checkbox" id="grandma-check" name={{ site.what_happens_next_1_checkbox_question_name }} value="Dogs">
    <label for="grandma-check">Dogs</label>
</div>

<div>
    <input type="checkbox" id="little-red-check" name={{ site.what_happens_next_1_checkbox_question_name }} value="Cats">
    <label for="little-red-check">Cats</label>
</div>

<div>
    <input type="checkbox" id="both-check" name={{ site.what_happens_next_1_checkbox_question_name }} value="Wolves">
    <label for="both-check">Wolves</label>
</div>

<div>
    <input type="checkbox" id="none-check" name={{ site.what_happens_next_1_checkbox_question_name }} value="Bears">
    <label for="none-check">Bears</label>
</div>
