<div>
    <input type="checkbox" id="grandma-check" name={{ site.what_happens_next_1_checkbox_question_name }} value="The wolf swallows grandma">
    <label for="grandma-check">The wolf swallows grandma</label>
</div>

<div>
    <input type="checkbox" id="little-red-check" name={{ site.what_happens_next_1_checkbox_question_name }} value="The wolf swallows Little Red">
    <label for="little-red-check">The wolf swallows Little Red</label>
</div>

<div>
    <input type="checkbox" id="both-check" name={{ site.what_happens_next_1_checkbox_question_name }} value="The wold swallows them both">
    <label for="both-check">The wolf swallows them both</label>
</div>

<div>
    <input type="checkbox" id="none-check" name={{ site.what_happens_next_1_checkbox_question_name }} value="The wolf goes hungry and perishes">
    <label for="none-check">The wolf goes hungry and perishes</label>
</div>