/*

main body & containers

*/

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: $body-font;
  color: $text-color;
  text-align: center;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}