
.story-model-1-parallax {
  height: 100vh;
  display: grid;
  place-content: center;
  padding: 0 1rem;

  
  .parallax-mask {
      width: 700px;
      height: 70vh;
      background-color: bisque;
      background-size: 100%;

      img {
          height: 100%;
          width: 100%;
          object-fit: cover;
      }
  }

  .ground {
    width: 151%;
    height: 697px;
    position: absolute;
    background-size: 800px 716px;
    left: 0;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  .front {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/hallowfront4.svg');
    background-size: contain;
    animation: front-move 20s -5s linear infinite;
  }

  .heroine {
    width: 184px;
    height: 123px;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/horse-hallow5.svg');
    animation: heroine-move 0.7s steps(15) infinite;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: 312px;
  }
}

.story-model-2-parallax {
  height: 100vh;
  display: grid;
  place-content: center;
  padding: 0 1rem;

  
  .parallax-mask {
      width: 700px;
      height: 70vh;
      background: url('/assets/images/GreyBackground.png');
      background-size: 100%;

      img {
          height: 100%;
          width: 100%;
          object-fit: cover;
      }
  }

  .ground {
    width: 151%;
    height: 697px;
    position: absolute;
    background-size: 800px 716px;
    left: 0;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .bg-trees {
    background: url("/assets/images/BG_Trees1-2.png");
    background-size: contain;
    height: 729px;
    position:absolute;
    width: 700px;
 
  }
  
  .front {
    background: url("/assets/images/LilRed.png");
    background-size: contain;
    height: 250px;
    position:absolute;
    margin-top: 425px;
    animation: my-move 10s -5s ease infinite;
    width: 200px;
    margin-left: 300px;
  }

  .tree {
    background: url("/assets/images/Tree5.png");
    background-size: 200px 400px;
    height: 250px;
    position:absolute;
    margin-top: 350px;
    animation: up-move-slow 10s -5s ease infinite;
    width: 200px;
    margin-left: 410px;
  }

  .house {
    background: url("/assets/images/House.png");
    background-size: 700px 800px;
    position:absolute;
    animation: up-move-fast 10s -5s ease infinite;
    margin-left: 10px;
    background-repeat: no-repeat;
  }

  .motes {
    background: url("/assets/images/Motes.png");
    position:absolute;
    animation: motes-flicker 2s -5s ease infinite;

    margin-left: -100px;
    width:500px;
  }

  .wolf {
    background: url("/assets/images/Wolf.png");
    background-size: 800px 800px;
    position:absolute;
    margin-top: -150px;
    margin-left: 350px;
    height: 500px;
    width: 600px;
    animation: wolf-zoom 15s -5s ease infinite;
  }
}


.story-model-1 {
  .story-model-1-image {
    display: grid;
    place-content: center;
    padding: 0 1rem;

    
    .image-mask {
        width: 500px;
        height: 70vh;
        background: url('https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80');
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 90%;
        background-size: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
  } 
}


.story-video-1-parallax {
  height: 100vh;
  width: 100px;
  display: grid;
  place-content: center;
  padding: 0 1rem;
}