.story-text {
    // margin-top: 20vh;
     text-align: center;

     p {
         font-family: $intro-font;
         font-size: 1.5rem;
     }

     h1 {
         font-size: 2rem;
     }

     cite {
       //   display: block;
         font-size: 1.5vw;
         //font-family: $handwriting-font;
     }
 }


.lottery {
   height: 120px; /* or whatever width you want. */
   max-height:120px; /* or whatever width you want. */
   display: inline-block;

}

$light: #ffffff;
$dark: lighten(#000000, 4%);
$glow: #0ba9ca;
$fs: 36px;

.glow {
  margin-top: 100px;
  text-align: center;
  span {
    color: $light;
    text-shadow:
      0 0 2px $light,
      0 0 10px $light,
      0 0 20px $glow,
      0 0 30px $glow,
      0 0 40px $glow,
      0 0 50px $glow;
    animation: blink 1.5s infinite alternate;
  }
  .major {
    display: block;
    font-size: $fs;
  }
  .minor {
    display: block;
    font-size: $fs/10*6;
  }
}

@keyframes blink {
  0%   {}
  100% {
    text-shadow:
      0 0 2px $light,
      0 0 10px $light,
      0 0 20px $light,
      0 0 40px $glow,
      0 0 70px $glow,
      0 0 80px $glow;
  }
}
