$clr-white:white;
$clr-blue: #1985A1;
$clr-yellow: #f2c212;
$clr-pink: #E63462;
$clr-black: black;

$text-color: $clr-white;
$landing-page-text-color: $clr-white;
$bg-color:        $clr-black;
$neutral:         #eae7de;
$accent-light:    #966d09;
$accent-dark:     #644906;


$user-engage-background-color:rgba(255, 255, 255, 0.6);
$user-engage-other-inputs-background-color:rgba(255, 255, 255, 0.2);