@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

$ff-ss: 'Pathway Gothic One', sans-serif; //sans-serif
$ff-s: 'Cardo', serif; //serif

$body-font:       'Pathway Gothic One', sans-serif;
$heading-font:    'Cardo', serif; 
// $story-font:      'Poor Story', cursive;
$story-font:      'Gloria Hallelujah', cursive;

// $intro-font:      'Yellowtail', cursive;
$intro-font:      'Special Elite', cursive;

$handwriting-font: 'Caveat', cursive;